# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders
Testing/*
CMakeFiles/*
doc/*
bin/*

# Cmake
cmake_install*
CMakeCache*
CTestTest*
Makefile*

# Doxy
Doxyfile.bak
Doxyfile

# Gtest
gtest/


# Data
data/
Dominios/
Problemas/
outputPM/
res/
*.sh
*.pddl
traza.txt
*.py
*.zip

#Example PTs
!Problemas/Test/*
